@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Start Conversation With Us</h3>
    <a class="btn btn-outline-primary px-5 mt-3" asp-controller="Chat" asp-action="Index">Get Start</a>
</div>
